
  /* ======= Filter Row ========== */

  .filter-row{
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
  }

  .filter-row select{
    padding: 0.8rem ;
  }
  
  h3 {
    color: #343a40;
    font-weight: bold;
  }

    /* =======  MODAL ========== */
  
  .modal-header {
    background-color: #403a34;
    color: #f1f1f1;
  }
  
  .modal-title {
    font-size: 1.5rem;
  }
  
  .modal-footer .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
  }

/* ============= Product Card ============== */

.product-img {
  height: 250px; 
  object-fit: cover;
}

.card {
  border-radius: 10px;
  overflow: hidden;
  background-color: #f1f1f1;
}

.card-body {
  padding: 20px;
}

.card-footer {
  background-color: #e4e4e5;
  padding: 15px;
}

.card h5 {
  font-weight: bold;
}

.card p {
  font-size: 14px;
  color: #676f75;
}

.prod-description{
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-footer button {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
}

.carousel-arrow{
  color: #343a40;
  font-size: 2rem;
  text-shadow: #bfc0c0;
}

/* Modal Image Styling */
.product-modal-image {
  max-height: 400px;
  object-fit: contain;
}

/* Centering Carousel Controls */
.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
}

/* Modal Description Section */
.modal-body h4 {
  font-weight: bold;
  margin-bottom: 15px;
}

.modal-body p {
  margin-bottom: 10px;
}
