<div class="container-fluid ps-0 pe-0">
    <!-- Navigation Bar -->

    <nav class="navbar navbar-expand-lg navbar-dark ">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/images/favicon.png" class="me-1">
        Pebble Studios
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item dropdown" *ngIf="isLoggedIn; else loginSignup">
            <button class="nav-link dropdown-toggle" id="userDropdown" role="button" (click)="toggleDropdown()">
              {{ user.name }}
            </button>
            <ul class="dropdown-menu dropdown-menu-end" [class.show]="dropdownOpen">
              <li><a class="dropdown-item" href="#" (click)="openEditProfileModal($event)">Edit Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#" (click)="signOut($event)">Sign Out</a></li>
            </ul>
          </li>
  
          <ng-template #loginSignup>
            <li class="nav-item">
              <button class="btn btn-outline-light me-2" (click)="login()">Log In</button>
            </li>
            <li class="nav-item">
              <button class="btn btn-outline-light me-2" (click)="signUp()">Sign Up</button>
            </li>
          </ng-template>
        </ul>
      </div>
    </nav>


    <div class="container mt-5">
    <!-- Main Checkout Section -->
      <!-- Order Summary on the left -->
        <h1 class="text-center headline mb-4">Order Summary</h1>
        <div class="order order-head">
          <div class="col-6">Product Name</div>
          <div class="col-2">Quantity</div>
          <div class="col-2">Price</div>
          <div class="col-2">Total</div>
        </div>
        <div *ngFor="let item of cartItems" class="order">
          <div class="col-6">{{ item.productName }}</div>
          <div class="col-2">{{item.quantity}}</div>
          <div class="col-2">${{item.price}}</div>
          <div class="col-2">${{ item.price * item.quantity }}</div>
        </div>
      
        <hr />

        <div class="order">
          <div class="col-6"> Subtotal</div>
          <div class="col-4"></div>
          <div class="col-2"> ${{ subtotal }}</div>
        </div>
        <div class="order">
          <div class="col-6"> GST</div>
          <div class="col-4"></div>
          <div class="col-2"> ${{ gst | number:'1.2-2' }}</div>
        </div>

        <hr />

        <div class="order">
          <div class="col-6"> Total</div>
          <div class="col-4"></div>
          <div class="col-2"> ${{ totalPrice }}</div>
        </div>

        <div class="row justify-content-between">
          <div class="col-2">
            <button class="btn brown-btn" (click)="back()">Back</button>
          </div>
          <div class="col-8"></div>
          <div class="col-2">
            <form (ngSubmit)="submitShippingDetails()" >
              <button type="btn green-btn" class="btn green-btn">Make Payment</button>
            </form>  
          </div>

        </div>






    </div>


  </div>
  