<div class="container">
    <div class="verification-form-wrapper">
        <div class="verification-card">
            <div class="verification-card-body">
                <form style="display: flex;">
                    
                    <div class="form-group text-center">
                        <h1 class="form-title"><strong>Verify Your Account</strong></h1>
                    </div>
                    <div class="form-group first">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" id="email" class="form-control" name="email" [(ngModel)]="user.email" placeholder="Enter your email">
                    </div>
                    <div class="form-group">
                        <label for="code" class="form-label">Confirmation Code</label>
                        <input type="text" id="code" class="form-control" name="code" [(ngModel)]="user.code" placeholder="Enter the confirmation code">
                    </div>
                    <button type="button" class="green-btn" (click)="confirmSignup()"><h6 class="mb-0">Verify</h6></button>
                    
                    <div class="row">
                        <div class="link-wrapper">
                            <button type="button" class="btn bolder" (click)="resendCode()">Resend Code</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
