<div class="container">
    <div class="login-form-wrapper">
        <div class="login-card">
            <div class="login-card-body">
                <form (keydown.enter)="signup()" style="display: flex; flex-direction: column; width: 100%;">

                    <!-- Form Title -->
                    <div class="form-group text-center">
                        <h4 class="form-title"><strong>Sign Up</strong></h4>
                    </div>

                    <!-- Name Input -->
                    <div class="form-group">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" id="name" class="form-input" name="name" [(ngModel)]="user.name" placeholder="Enter your name">
                    </div>

                    <!-- Email Input -->
                    <div class="form-group">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" id="email" class="form-input" name="email" [(ngModel)]="user.email" placeholder="Enter your email">
                    </div>

                    <!-- Password Input -->
                    <div class="form-group">
                        <label for="password" class="form-label">Password</label>
                        <input [type]="user.showPassword ? 'text' : 'password'" id="password" class="form-input" name="password" [(ngModel)]="user.password" placeholder="Enter your password">
                        <input type="checkbox" id="showPassword" (change)="togglePasswordVisibility()"> Show Password
                    </div>

                    <!-- Confirm Password Input -->
                    <div class="form-group">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input [type]="user.showPassword ? 'text' : 'password'" id="confirmPassword" class="form-input" name="confirmPassword" [(ngModel)]="confirmPassword" placeholder="Re-enter your password">
                    </div>

                    <!-- Error Message -->
                    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

                    <!-- Buttons -->
                    <button type="button" class="button-primary" (click)="signup()">Sign Up</button>
                    <button type="button" class="button-secondary" (click)="verifyEmail()">Verify Email</button>

                    <!-- Login Link -->
                    <div class="row">
                        <div class="link-wrapper">
                            <a href="/login" class="link">Already have an account? <br/> <span class="link-highlight">Login</span></a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
