body{
    background-image: url("assets/images/bg.jpg");
    background-size: cover;
    background-position: center;
}

/* =============== LOGIN-SIGNUP =============== */

.logo{
    justify-content: center;
}
.login-logo{
    width: 150px;
}

.content {
    padding: 7rem 0; }
  
  .half, .half .container > .row {
    height: 100vh;
    min-height: 700px; }
  
  @media (max-width: 991.98px) {
    .half .bg {
      height: 200px; } }

  
  .half .contents, .half .bg {
    width: 50%; }
    @media (max-width: 1199.98px) {
      .half .contents, .half .bg {
        width: 100%; } }
    .half .contents .form-control, .half .bg .form-control {
      border: none;
      -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      height: 54px;
      background: #f1f1f1; 
      transition: 0.3s;
    }
      .half .contents .form-control:active, .half .contents .form-control:focus, .half .bg .form-control:active, .half .bg .form-control:focus {
        outline: none;
        -webkit-box-shadow: 20px 20px 10px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 20px 20px 10px 0 rgba(0, 0, 0, 0.1);
        border: 2px solid #523b35ac;
     }
  
  .half .bg {
    background-size: cover;
    background-position: center; }
  
  .half a {
    color: #706f6f;
    text-decoration: none !important;
 }
.half a:hover{
    color: #213c22;
}
  
.brown-btn {
    height: 54px;
    padding:0 30px;
    background-color: #523b35;
    border-radius: 10px;
    border: 2px solid #523b35;
    transition: 0.3s;
    color: #f1f1f1;
}

.brown-btn:hover{
    background-color: #213c22;
    color: #f1f1f1;
}
  
.green-btn {
  height: 54px;
  padding:0 30px;
  background-color: #213c22;
  border-radius: 10px;
  border: 2px solid #213c22;
  transition: 0.3s;
  color: #f1f1f1;
}

.green-btn:hover{
  background-color: #523b35;
  color: #f1f1f1;
}

.half .forgot-pass {
    position: relative;
    top: 2px;
    font-size: 14px; 
}

.huge{
  font-size: 10rem;
}


/* ========================= Navbar  ================== */
  
.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
  background-color: #403a34f6;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar img{
  width: 2.7rem;
  height: auto;
}

.navbar-brand {
  font-size: 1.75rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #f1f1f1 !important;
  display: flex;
  align-content: center;
}

.navbar-nav{
  display: flex;
  align-items: center;
}

.navbar-nav .nav-item .dropdown-toggle {
  color: #f1f1f1 !important;
  font-weight: bold;
}

.fa-shopping-cart{
  font-size: 2rem;
  color: #f1f1f1;
  transition: 0.5s;
}

.fa-shopping-cart:hover{
  transform: scale(1.2);
}

.position-relative {
  position: relative;
}

.cart-text {
  font-size: 1rem;
  position: absolute;
  top: -5%; 
  left: 75%; 
  width: 1.5rem; 
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center; 
  background: #b93030e9; 
  border-radius: 50%; 
  color: #f1f1f1;
  font-weight: bold;
}

.hov-green{
  transition: 0.5s;
}
.hov-green:hover{
  background-color: #213c22;
  color: #f1f1f1;
  border: solid 0.1rem #213c22;
}

.dropdown-menu {
  background-color: #f8f9fa;
}

.dropdown-menu .dropdown-item {
  font-size: 1rem;
  transition: 0.5s;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #bfc0c0 ;
}

.dropdown-divider {
  border-top: 1px solid #e0e0e0;
}

  
/* =============== MAIN PAGES =============== */

.headline {
  font-family: "Parisienne", cursive;
  font-weight: 900;   
  font-style: normal;
  color: #523b35;
  /* text-shadow:2px  2px 0 #213c22; */
  text-decoration:  none;
}
